{{- if gt (len (.Files.Glob (printf "config-files/%s" .Values.deployment.configFile))) 0 }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "Atm-service.fullname" . }}
  labels:
    {{- include "Atm-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "Atm-service.selectorLabels" . | nindent 4 }}
